@page
@model BookStoreApi.Areas.Book.Pages.DeleteConfirmationModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<p>Are you sure you want to delete "@Model.Book.BookName"?</p>

<form method="post">
    <div asp-validation-summary="All" class="text-danger validation">

        <span></span>
    </div>
    @Html.AntiForgeryToken()
    <input asp-for="Id" type="hidden" />

    <button class="btn btn-danger" type="submit">Yes</button>
    <a class="btn btn-default" asp-area="" asp-page="/BookStore"> Cancel</a>
</form>
