@page
@model BookStoreApi.Areas.Book.Pages.DetailsModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<p> Book Name : @Model.Book.BookName</p>
<p> Author : @Model.Book.Author</p>
<p> Category : @Model.Book.Category</p>
<p> Price : @Model.Book.Price</p>