@page
@model BookStoreApi.Areas.Book.Pages.NewModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger validation">

        <span></span>
    </div>
    @Html.AntiForgeryToken()
    Book Name:  <input asp-for="BookName" /> <br />
    Price: <input asp-for="Price" /><br />
    Category: <input asp-for="Category" /><br />
    Author: <input asp-for="Author" /><br />
    <button type="submit">Save Changes</button>
</form>