@page
@model BookStoreApi.Areas.Book.Pages.NewModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>New Book</h2>

<form method="post">
    <div asp-validation-summary="All" class="text-danger validation">

        <span></span>
    </div>
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="BookName">Book Name</label>
        <input class="form-control" asp-for="BookName" placeholder="Book Name">
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="form-group">
        <label for="Category">Category</label>
        <input class="form-control" asp-for="Category" placeholder="">
    </div>
    <div class="form-group">
        <label for="Author">Author</label>
        <input class="form-control" asp-for="Author">
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a class="btn btn-default" asp-area="" asp-page="/BookStore"> Cancel</a>
</form>