<div id="loading-spinner">
    <div class="d-flex justify-content-center" style="height: 1000px; width: 100%; background: rgba(0,0,100,.1); position: absolute; z-index: 1000;">
        <div class="spinner-border" role="status" style="text-align: center;  margin-top: 20%;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
